*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffa600;
    color: white;
    flex-direction: column;
}

.cron{
    margin-top: 20px;
    text-align: center;
}

.cron span{
    font-size: 28px;
}

.cron .actions{
    margin-top: 10px;
}

.cron .actions button{
    padding: 10px 20px;
    cursor: pointer;
}